**Create dataset**

In [10]:
import pandas as pd
import numpy as np

arr = [
    ['a', 1],
    ['a', 2],
    ['a', 3],
    ['a', 4],
    ]

df = pd.DataFrame(arr, columns=['char', 'num'])
df

  char  num
0    a    1
1    a    2
2    a    3
3    a    4

In [16]:
dfnew = df.pivot_table(index='char', columns='num', aggfunc=len)
dfnew

num   1  2  3  4
char
a     1  1  1  1

In [17]:
dfnew.shape

(1, 4)

**Format**

In [7]:
temp = []
for number in df['num'].unique():
    temp.append(df[df['num'] == number])
    
temp[0]

  char  num
0    a    1

In [9]:
dfnew = temp[0]
for i in range(1, len(temp)):
    temp[i] = temp[i].rename(columns={'num': 'num' + str(i)})
    dfnew = dfnew.merge(temp[i], on='char')
    
dfnew

  char  num  num1  num2  num3
0    a    1     2     3     4